/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.dbdata/undo_002
.dbdata/undo_001
.dbdata/sys/sys_config.ibd
.dbdata/server-key.pem
.dbdata/server-cert.pem
.dbdata/public_key.pem
.dbdata/private_key.pem
.dbdata/performance_schema/variables_info_186.sdi
.dbdata/performance_schema/variables_by_thr_183.sdi
.dbdata/performance_schema/users_144.sdi
.dbdata/performance_schema/user_variables_b_176.sdi
.dbdata/performance_schema/user_defined_fun_188.sdi
.dbdata/performance_schema/tls_channel_stat_190.sdi
.dbdata/performance_schema/threads_110.sdi
.dbdata/performance_schema/table_lock_waits_109.sdi
.dbdata/performance_schema/table_io_waits_s_108.sdi
.dbdata/performance_schema/table_io_waits_s_107.sdi
.dbdata/performance_schema/table_handles_158.sdi
.dbdata/performance_schema/status_by_user_180.sdi
.dbdata/performance_schema/status_by_thread_179.sdi
.dbdata/performance_schema/status_by_host_178.sdi
.dbdata/performance_schema/status_by_accoun_177.sdi
.dbdata/performance_schema/socket_summary_b_149.sdi
.dbdata/performance_schema/socket_summary_b_148.sdi
.dbdata/performance_schema/socket_instances_147.sdi
.dbdata/performance_schema/setup_threads_106.sdi
.dbdata/performance_schema/setup_objects_105.sdi
.dbdata/performance_schema/setup_instrument_104.sdi
.dbdata/performance_schema/setup_consumers_103.sdi
.dbdata/performance_schema/setup_actors_102.sdi
.dbdata/performance_schema/session_variable_185.sdi
.dbdata/performance_schema/session_status_182.sdi
.dbdata/performance_schema/session_connect__150.sdi
.dbdata/performance_schema/session_account__151.sdi
.dbdata/performance_schema/rwlock_instances_101.sdi
.dbdata/performance_schema/replication_grou_169.sdi
.dbdata/performance_schema/replication_grou_163.sdi
.dbdata/performance_schema/replication_conn_164.sdi
.dbdata/performance_schema/replication_conn_162.sdi
.dbdata/performance_schema/replication_asyn_173.sdi
.dbdata/performance_schema/replication_asyn_172.sdi
.dbdata/performance_schema/replication_appl_171.sdi
.dbdata/performance_schema/replication_appl_170.sdi
.dbdata/performance_schema/replication_appl_168.sdi
.dbdata/performance_schema/replication_appl_167.sdi
.dbdata/performance_schema/replication_appl_166.sdi
.dbdata/performance_schema/replication_appl_165.sdi
.dbdata/performance_schema/processlist_100.sdi
.dbdata/performance_schema/prepared_stateme_175.sdi
.dbdata/performance_schema/persisted_variab_187.sdi
.dbdata/performance_schema/performance_time_99.sdi
.dbdata/performance_schema/objects_summary__98.sdi
.dbdata/performance_schema/mutex_instances_97.sdi
.dbdata/performance_schema/metadata_locks_159.sdi
.dbdata/performance_schema/memory_summary_g_153.sdi
.dbdata/performance_schema/memory_summary_b_157.sdi
.dbdata/performance_schema/memory_summary_b_156.sdi
.dbdata/performance_schema/memory_summary_b_155.sdi
.dbdata/performance_schema/memory_summary_b_154.sdi
.dbdata/performance_schema/log_status_174.sdi
.dbdata/performance_schema/keyring_keys_152.sdi
.dbdata/performance_schema/keyring_componen_191.sdi
.dbdata/performance_schema/hosts_146.sdi
.dbdata/performance_schema/host_cache_96.sdi
.dbdata/performance_schema/global_variables_184.sdi
.dbdata/performance_schema/global_status_181.sdi
.dbdata/performance_schema/file_summary_by__95.sdi
.dbdata/performance_schema/file_summary_by__94.sdi
.dbdata/performance_schema/file_instances_93.sdi
.dbdata/performance_schema/events_waits_sum_92.sdi
.dbdata/performance_schema/events_waits_sum_91.sdi
.dbdata/performance_schema/events_waits_sum_90.sdi
.dbdata/performance_schema/events_waits_sum_89.sdi
.dbdata/performance_schema/events_waits_sum_88.sdi
.dbdata/performance_schema/events_waits_sum_87.sdi
.dbdata/performance_schema/events_waits_his_86.sdi
.dbdata/performance_schema/events_waits_his_85.sdi
.dbdata/performance_schema/events_waits_cur_84.sdi
.dbdata/performance_schema/events_transacti_138.sdi
.dbdata/performance_schema/events_transacti_137.sdi
.dbdata/performance_schema/events_transacti_136.sdi
.dbdata/performance_schema/events_transacti_135.sdi
.dbdata/performance_schema/events_transacti_134.sdi
.dbdata/performance_schema/events_transacti_133.sdi
.dbdata/performance_schema/events_transacti_132.sdi
.dbdata/performance_schema/events_transacti_131.sdi
.dbdata/performance_schema/events_statement_130.sdi
.dbdata/performance_schema/events_statement_129.sdi
.dbdata/performance_schema/events_statement_128.sdi
.dbdata/performance_schema/events_statement_127.sdi
.dbdata/performance_schema/events_statement_126.sdi
.dbdata/performance_schema/events_statement_125.sdi
.dbdata/performance_schema/events_statement_124.sdi
.dbdata/performance_schema/events_statement_123.sdi
.dbdata/performance_schema/events_statement_122.sdi
.dbdata/performance_schema/events_statement_121.sdi
.dbdata/performance_schema/events_statement_120.sdi
.dbdata/performance_schema/events_statement_119.sdi
.dbdata/performance_schema/events_stages_su_118.sdi
.dbdata/performance_schema/events_stages_su_117.sdi
.dbdata/performance_schema/events_stages_su_116.sdi
.dbdata/performance_schema/events_stages_su_115.sdi
.dbdata/performance_schema/events_stages_su_114.sdi
.dbdata/performance_schema/events_stages_hi_113.sdi
.dbdata/performance_schema/events_stages_hi_112.sdi
.dbdata/performance_schema/events_stages_cu_111.sdi
.dbdata/performance_schema/events_errors_su_143.sdi
.dbdata/performance_schema/events_errors_su_142.sdi
.dbdata/performance_schema/events_errors_su_141.sdi
.dbdata/performance_schema/events_errors_su_140.sdi
.dbdata/performance_schema/events_errors_su_139.sdi
.dbdata/performance_schema/error_log_83.sdi
.dbdata/performance_schema/data_locks_160.sdi
.dbdata/performance_schema/data_lock_waits_161.sdi
.dbdata/performance_schema/cond_instances_82.sdi
.dbdata/performance_schema/binary_log_trans_189.sdi
.dbdata/performance_schema/accounts_145.sdi
.dbdata/mysql/slow_log_214.sdi
.dbdata/mysql/slow_log.CSV
.dbdata/mysql/slow_log.CSM
.dbdata/mysql/general_log_213.sdi
.dbdata/mysql/general_log.CSV
.dbdata/mysql/general_log.CSM
.dbdata/mysql.sock
.dbdata/mysql.ibd
.dbdata/modernize/users.ibd
.dbdata/modernize/user_roles.ibd
.dbdata/modernize/roles.ibd
.dbdata/modernize/role_permission.ibd
.dbdata/modernize/products.ibd
.dbdata/modernize/personal_access_tokens.ibd
.dbdata/modernize/permissions.ibd
.dbdata/modernize/password_resets.ibd
.dbdata/modernize/orders.ibd
.dbdata/modernize/order_items.ibd
.dbdata/modernize/oauth_refresh_tokens.ibd
.dbdata/modernize/oauth_personal_access_clients.ibd
.dbdata/modernize/oauth_clients.ibd
.dbdata/modernize/oauth_auth_codes.ibd
.dbdata/modernize/oauth_access_tokens.ibd
.dbdata/modernize/migrations.ibd
.dbdata/modernize/links.ibd
.dbdata/modernize/link_products.ibd
.dbdata/modernize/failed_jobs.ibd
.dbdata/ibtmp1
.dbdata/ibdata1
.dbdata/ib_buffer_pool
.dbdata/client-key.pem
.dbdata/client-cert.pem
.dbdata/ca.pem
.dbdata/ca-key.pem
.dbdata/binlog.index
.dbdata/binlog.000002
.dbdata/binlog.000001
.dbdata/auto.cnf
.dbdata/\#innodb_temp/temp_9.ibt
.dbdata/\#innodb_temp/temp_8.ibt
.dbdata/\#innodb_temp/temp_7.ibt
.dbdata/\#innodb_temp/temp_6.ibt
.dbdata/\#innodb_temp/temp_5.ibt
.dbdata/\#innodb_temp/temp_4.ibt
.dbdata/\#innodb_temp/temp_3.ibt
.dbdata/\#innodb_temp/temp_2.ibt
.dbdata/\#innodb_temp/temp_10.ibt
.dbdata/\#innodb_temp/temp_1.ibt
.dbdata/\#innodb_redo/\#ib_redo9
.dbdata/\#innodb_redo/\#ib_redo40_tmp
.dbdata/\#innodb_redo/\#ib_redo39_tmp
.dbdata/\#innodb_redo/\#ib_redo38_tmp
.dbdata/\#innodb_redo/\#ib_redo37_tmp
.dbdata/\#innodb_redo/\#ib_redo36_tmp
.dbdata/\#innodb_redo/\#ib_redo35_tmp
.dbdata/\#innodb_redo/\#ib_redo34_tmp
.dbdata/\#innodb_redo/\#ib_redo33_tmp
.dbdata/\#innodb_redo/\#ib_redo32_tmp
.dbdata/\#innodb_redo/\#ib_redo31_tmp
.dbdata/\#innodb_redo/\#ib_redo30_tmp
.dbdata/\#innodb_redo/\#ib_redo29_tmp
.dbdata/\#innodb_redo/\#ib_redo28_tmp
.dbdata/\#innodb_redo/\#ib_redo27_tmp
.dbdata/\#innodb_redo/\#ib_redo26_tmp
.dbdata/\#innodb_redo/\#ib_redo25_tmp
.dbdata/\#innodb_redo/\#ib_redo24_tmp
.dbdata/\#innodb_redo/\#ib_redo23_tmp
.dbdata/\#innodb_redo/\#ib_redo22_tmp
.dbdata/\#innodb_redo/\#ib_redo21_tmp
.dbdata/\#innodb_redo/\#ib_redo20_tmp
.dbdata/\#innodb_redo/\#ib_redo19_tmp
.dbdata/\#innodb_redo/\#ib_redo18_tmp
.dbdata/\#innodb_redo/\#ib_redo17_tmp
.dbdata/\#innodb_redo/\#ib_redo16_tmp
.dbdata/\#innodb_redo/\#ib_redo15_tmp
.dbdata/\#innodb_redo/\#ib_redo14_tmp
.dbdata/\#innodb_redo/\#ib_redo13_tmp
.dbdata/\#innodb_redo/\#ib_redo12_tmp
.dbdata/\#innodb_redo/\#ib_redo11_tmp
.dbdata/\#innodb_redo/\#ib_redo10
.dbdata/\#ib_16384_1.dblwr
.dbdata/\#ib_16384_0.dblwr
